<aside id="leftsidebar" class="sidebar m-sidenav">
    <div class="legal">
       <p>Definition of verb</p>
       <p>Definition of roles</p>
       <p>Example</p>
    </div>
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="active">
                <!-- <a href="/">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a> -->
            </li>
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-20">
                    <button type="button" class="btn bg-blue btn-block btn-lg waves-effect">Save (Ctrl + S)</button>
                </div>
            </li>
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-20">
                    <button type="button" class="btn bg-blue btn-block btn-lg waves-effect">Ambiguous (Ctrl + B)</button>
                </div>
            </li>
           
        </ul>
    </div>
    <!-- #Menu -->
</aside>