<aside id="leftsidebar" class="sidebar m-sidenav m-sidenav-left">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="active">
                <!-- <a href="/">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a> -->
            </li>
            <li id="btn-nextrole">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-20">
                    <button type="button" class="btn bg-blue btn-block btn-lg waves-effect"  data-step="2" data-intro='Click next role or use shortcut Shift + A for choosing the next label'>Next role (Shift + A)</button>
                </div>
            </li>
            <li id="btn-prevrole">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-20">
                    <button type="button" class="btn bg-blue btn-block btn-lg waves-effect" data-step="3" data-intro='Click previous role or use shortcut Shift + S for choosing the previous label'>Previous role (Shift + S)</button>
                </div>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <div class="legal">
        <div class="copyright">
             <a href="javascript:void(0);">SUTD STATNLP</a>
            <br>
            <a href="javascript:void(0);">Annotation Image</a> &copy; 2018
        </div>
        <div class="version">
            <b>Version: </b> 1.0.0-beta
        </div>
    </div>
</aside>