<nav class="navbar m-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">StatNLP - ANNOTATED IMAGES</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              
                <!-- Tasks -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">flag</i>
                        <span class="label-count">2</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">OBJECTS</li>
                        <li class="body">
                            <ul class="menu tasks">
                                <li>
                                    <a href="javascript:void(0);">
                                        <h4>
                                            arm
                                            <small>x0-y0-w799-h557</small>
                                        </h4>
                                      
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <h4>
                                            bike
                                            <small>x78-y308-w722-h290</small>
                                        </h4>
                                      
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </li>
                <!-- #END# Tasks -->
              
            </ul>
        </div>
    </div>
</nav>