<aside class="rightsidebar m-sidenav">

    <!-- Menu -->
    <div class="menu">
        <ul class="list m-objects">
            <li>
                <!-- <a href="/">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a> -->
            </li>
            <li class="active" ng-repeat="item in vm.image.objects" ng-click="vm.chooseObject(item.object_id)">
                <a href="">
                 
                    <span class="text-capitalize"> {{$index + 1}}. {{item.names[0]}}</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->

    <div class="legal">
        <div class="copyright">
            <a href="javascript:void(0);">SUTD STATNLP</a> &copy; 2018
        </div>
        <div class="version">
            <b>Version: </b> 1.0.0-beta
        </div>
    </div>
</aside>

<div class="container-fluid">
    <!-- Advanced Select -->
    <div id="annotation" class="row clearfix">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="card">
                <div class="header">
                    <h2>
                        REGION IMAGE
                    </h2>
                </div>
                <div class="body">
                    <!-- <canvas width="600" height="326" id="canvas">
                    </canvas> -->
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="{{'./data/images/' + vm.region.region_id + '.jpg'}}" data-sub-html="{{vm.region.phrase}}" data-zoom-image="{{'./data/images/' + vm.region.region_id + '.jpg'}}">
                                <img id="img-region" class="img-responsive" width="{{vm.region.width}}" height="{{vm.region.height}}" ng-src="{{'./data/images/' + vm.region.region_id + '.jpg'}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="card">
                <div class="header">
                    <h2>
                        ANNOTAIONS & REGIONS
                    </h2>
                </div>
                <div class="body m-region" data-label="">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p>
                                Verb:
                                <b class="col-blue">{{vm.region.predicate}}</b>
                            </p>
                            <p>
                                Description:
                                <b class="col-blue">{{vm.region.phrase}}</b>
                            </p>
                            <br>
                            <div ng-repeat="(key,value) in vm.region.annotation" class="col-md-3 m-label">
                                <b>{{key}}</b>
                                <span class="label label-primary">{{vm.getObjectNameById(value)}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- #END# Advanced Select -->
    <div id="upload" class="row clearfix">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="card">
                <div class="header">
                    <h2>
                        IMAGE UPLOAD - DRAG & DROP OR WITH CLICK & CHOOSE
                    </h2>

                </div>
                <div class="body">
                    <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                        <div class="dz-message">
                            <div class="drag-icon-cph">
                                <i class="material-icons">touch_app</i>
                            </div>
                            <h3>Drop images here or click to upload.</h3>

                        </div>
                        <div class="fallback">
                            <input name="file" type="file" multiple accept="image/*" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>