.m-navbar {
    ul {
        list-style-type: none;
    }
    .m-item-active {
        background-color: #B3E5FC;
    }
}

.m-sidenav {
    width: 198px;
}

.m-sidenav-left {
    width: 208px;
}

.justify-content-center {
    text-align:center;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.m-content {
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.dropdown-menu {
    height: 180px !important;
}

.m-region-image {
    height: 300px;
}


.m-btn-social {
    width: 200px;
}

.m-guideline {
    font-size: 18px !important;

    .m-header {
        text-indent: 40px;
    }
    p {
        text-indent: 80px;
    }
}
.m-region {
    height: 300px;
    font-size: 20px !important;
}

.m-meaning {
    font-size: 16px !important;
    .m-list {
        border-style: solid;
        padding-top: 5px;
    }
    .m-btn-role {
        width: 120px;
    }
}

.card {
    margin: 0px;
    margin-bottom: 10px;
}
